[flake8]
max-line-length = 120
type-checking-strict = true
enable-extensions = TC, TC1
ban-relative-imports = true
format-greedy = 1
inline-quotes = double

extend-ignore =
    # ANN101: Missing type annotation for self in method
    ANN101,
    # ANN102: Missing type annotation for cls in classmethod
    ANN102,

per-file-ignores =
    # ANN201: Missing return type annotation for public function
    tests/test_*:ANN201
